<% provide(:title, t("static_pages.home.home")) %>
<h1><%= t("static_pages.home.home")%></h1>
<p>
  <%= t("static_pages.home.content1") %>
  <%= link_to t("static_pages.home.railstutorial"), "http://www.railstutorial.org"%>
  <%= t("static_pages.home.content2") %>
</p>
